img.frame {
  max-width:100%;
  cursor: e-resize;
  display: inline-block;
}

img.frame.single {
  width: 78.125%;
}

img.frame.left {
  margin-right: 1.09375%;
  width:46.125%;
}

img.frame.right {
  margin-left: 1.09375%;
  width:46.125%;
}

section.slideshowRow {
  width:100%;
  margin: 12.5% auto 0 auto;
  text-align: center;
}

header{
  background: #fff;
  width: 100%;
  position: absolute;
  max-height: 92px;
  z-index: 9001;
  padding: 0;
  top:0;
  left:0;
  text-align: center;
}

body {
  background-color: #fff;
}

img {
  vertical-align: top;
  max-width: 100%;
}

div#portfolioContainer {
    margin: 0 auto;
    max-width:960px;
}

div#portfolioContainer:last-child {
  margin: 12.5% auto 6% auto;
}